
.item_list{
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 1000px;
    


}
.item_list .card{
    border: 1px solid #eee;
    border-radius: 5px;
    height: 350px;
    width: 195px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;

}

img{
    height: 200px;
    width: 195px;
}
.card .text p{
    font-size: 14px;
    opacity: .8;
}
.card .text button{
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    transition: .5s ease;
}
.car .text button:hover{
    transition: .5s ease;
    border: 2px solid black;
    background: transparent;
    color: black;
}
#logo{
    width: 140px;
    height: 140px;
    float: left;
}
